<h1>Events created by <%= @user.username %></h1>

<% if @user.created_events.any? %>
  <ul>
    <% @user.created_events.each do |event| %>
      <li><%= event.title %></li>
    <% end %>
  </ul>
<% else %>
  <p>No events created by <%= @user.username %>.</p>
<% end %>